@import url('https://fonts.googleapis.com/css?family=Cute+Font');
body
{
    background-color: darkgray;
}
.container
{
    font-family: 'Cute Font', cursive;
    font-size: 35px;
    color: white;
    margin: 20px 10px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;

}
.information_block
{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #04b504;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}
.uf
{
    border: 3px solid gray;
    margin: 50px 30%;
    box-shadow: 0 0 10px black;
    border-collapse: collapse;
}

.information
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}
span
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.information_block > img{
    object-fit: contain;
    max-width: 300px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.spans{
    margin-right: 20px;
    text-align: right;
    border-bottom: #333333;
}

.inputs{
    text-align: left;
    margin-left: 30px;
}
p{
    margin: 0;
}
.additional_info
{
    width: 100%;
    height: 100%;
    background: #04b504;
    background: linear-gradient(top, #04b504 1%,#04b504 1%,#04b504 13%,#61c419 75%,#083808 100%);
    background: linear-gradient(to bottom, #0f920f 1%,#0f920f 1%,#0f920f 13%,#61c419 75%,#045604 100%);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}


textarea
{
    background: none;
    margin-top: 5px;
    width: 100%;
}