<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form enctype="multipart/form-data" action="#" th:object="${user}" method="post">
    <div class="ss-item-required">
        <p>FirstName: <input type="text" required="required" th:field="*{firstName}" th:placeholder="${user.lastName}" /></p>
        <p>LastName: <input type="text" required="required" th:field="*{lastName}" /></p>
        <p>Login: <input type="text" required="required" th:field="*{login}" /></p>
        <p>Address: <input type="text" required="required" th:field="*{address}" /></p>
        <p>DOB: <input type="date" required="required" th:field="*{dob}" /></p>
        <input type = "file" required="required" name = "imageFile">
        <div th:each="role : ${selectableRoles}">
            <input type="checkbox" th:field="*{roles}" th:value="${role.name}">
            <label th:text="${role.name}"/>
        </div>
        <textarea required="required" th:field = "*{additionalInfo}"/>
        <p><input type="submit" value="Submit" />
    </div>
</form>
<a href="/">Home page</a>
</body>
</html>