<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript">
        function rowClicked(value) {
            location.href = "/userPage?id=" + value;
        }
    </script>
</head>

<body>
    <table>
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Login</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each ="user : ${array}" th:onclick="'javascript:rowClicked(\'' + ${user.id} + '\');'">
                    <td th:text="${user.firstName}"/>
                    <td th:text="${user.lastName}"/>
                    <td th:text="${user.login}"/>
            </tr>
        </tbody>
    </table>
</body>

</html>