<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <script type="text/javascript">
        function rowClicked(value) {
            location.href = "/userPage?id=" + value;
        }
    </script>
</head>

<body>
    <table>
        <thead>
        <tr>
            <th> <div class = "pic"><a th:href="@{/add}"><img align="center" th:src="@{'~/plus.png'}" width="20" height="20">
            </a></div>Firstname </th>
            <th>Lastname</th>
            <th>Login</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each ="user : ${array}" th:onclick="'javascript:rowClicked(\'' + ${user.id} + '\');'">
                    <td th:text="${user.firstName}"/>
                    <td th:text="${user.lastName}"/>
                    <td th:text="${user.login}"/>
            </tr>
        </tbody>
    </table>
    <a href="/addRole">Add role</a>
    <a href="/deleteRole">Delete role</a>
    <a href="/deleteUser">Delete user</a>
</body>

</html>